.navbar {
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    color: white;
    .link{
        color: white;
        text-decoration: none;
        margin-right:  40px;
        font-size: 20px;
        &:hover{
            color: #0080ff;
        }
    }
}