@import url(./sass/itemListContainer.scss);
@import url(./sass/NavBar.scss);
@import url(./sass/ItemDetailContainer.scss);

body {
    background-color: gray;
    color: white;
    text-decoration: none;
}